#content {
  margin-top: 0;
  padding: 10px 0 0 0;
  background-color: transparent;
}
h1, h2, #header, #card {
  color: black;
}
.nav {
  position: relative;
  background-color: transparent;
}
.nav a {
  display: none;
}
#navLoc {
  display: block;
  position: absolute;
  top: 0;
  left: -10px;
  font-size: 2em;
  color: black;
}
#hero {
  border-style: none;
}
