@import url('http://fonts.googleapis.com/css?family=Ovo');

body {
  -webkit-text-size-adjust: 100%;
  font-family: 'Ovo', serif;
}
h1, h2, #header, #card {
  color: #191970;
}
h2 {
  margin-bottom: 5px;
}
#header {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
  font-size: 3em;
  text-align: center;
}
#content, #nav {
  box-sizing: border-box;
  width: 80%;
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
}
#content {
  margin-top: 20px;
  padding: 40px;
  background-color: #F0F8FF;
  border-radius: 8px;
}
figure {
  text-align: center;
  margin: 0;
}
figure img {
  box-sizing: border-box;
  max-width: 100%;
  border: 15px solid #FFFFFF;
}
figcaption {
  margin-top: 5px;
  font-size: 80%;
}
nav {
  width: 100%;
  min-height: 40px;
  text-align: center;
  background-color: #191970;
  border-radius: 8px;
  font-family: 'Ovo', serif;
}
nav ul {
  height: auto;
  padding-top: 10px;
  padding-left: 0;
  margin: 0;
}
nav li {
  display: inline;
  padding: 18px;
  color: #FFFFFF;
}
nav a {
  color: #FFFFFF;
  margin: 8px;
  text-decoration: none;
}
nav a:hover, #navLoc {
  padding-bottom: 4px;
  font-weight: normal;
  border-bottom: 1px solid #FFFFFF;
}
#card {
  margin: 40px;
  padding: 40px;
  width: 420px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(cardstock.jpg);
  background-repeat: repeat;
  font-family: 'English Pressed', 'Snell Roundhand', 'Brush Script MT', cursive;
  text-align: center;
  box-shadow: 0 8px 6px -6px black
}
#card h1 {
  font-weight: normal;
  margin: 0;
}
#card h2 {
  font-weight: normal;
  margin: 0;
}
#card img {
  padding-bottom: 20px;
}
.slim {
  margin: 0;
}
.center {
  text-align: center;
}
@media screen and (max-width: 740px) {
  #header {
    font-size: 2.5em;
  }
  #content, #nav {
    width: 90%;
  }
  #content {
    padding: 20px;
  }
  nav li {
    padding: 1px;
  }
  #card {
    width: 380px;
  }
}
@media screen and (max-width: 479px) {
  #header {
    font-size: 2em;
  }
  #content {
    font-size: 120%;
  }
  figure img {
    border-style: none;
  }
  #nav {
    width: 150px;
  }
  nav {
    max-height: 250px;
    transition: max-height 0.3s ease-in-out;
  }
  nav a:hover, #navLoc {
    border-style: none;
  }
  nav.hideNav {
    max-height: 45px;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }
  nav ul {
    padding-top: 0;
  }
  nav li {
    padding: 12px;
    display: block;
  }
  li.hideNav {
    display: none;
  }
  #navLoc {
    position: relative;
    padding-left: 1.5em;
  }
  #navLoc:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.25em;
    width: 1em;
    height: 0.15em;
    background: white;
    box-shadow:
      0 0.25em 0 0 white,
      0 0.5em 0 0 white;
  }
  #card {
    width: 100%;
    padding-left: 2px;
    padding-right: 2px;
  }
}
