@import url('http://fonts.googleapis.com/css?family=Ovo');

body {
  font-family: 'Ovo', serif;
  padding-top: 20px;
}
h1, h2, #header, #card {
  color: #191970;
}
#header {
  margin: 10px;
  width: 100%;
  font-size: 3em;
  text-align: center;
}
#content {
  width: 80%;
  padding: 20px;
  border: 5px solid #191970;
}
#nav {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
nav {
  width: 100%;
  height: 35px;
  text-align: center;
  background-color: #191970;
  border-radius: 8px;
  font-family: 'Ovo', serif;
}
nav ul {
  height: auto;
  padding: 8px 0;
  margin: 0;
}
nav li {
  display: inline;
  padding: 20px;
  color: #FFFFFF;
}
nav a {
  color: #FFFFFF;
  padding: 8px;
  text-decoration: none;
}
nav a:hover, nav strong {
  padding-bottom: 4px;
  font-weight: normal;
  border-bottom: 1px solid #FFFFFF;
}
#card {
  margin: 40px;
  padding: 40px;
  max-width: 400px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-image: url(cardstock.jpg);
  background-repeat: repeat;
  font-family: 'English Pressed', 'Snell Roundhand', 'Brush Script MT', cursive;
  text-align: center;
  box-shadow: 0 8px 6px -6px black
}
#card h1 {
  font-weight: normal;
  margin: 0;
}
#card h2 {
  font-weight: normal;
  margin: 0;
}
#card img {
  padding-bottom: 20px;
}
p.slim {
  margin: 0;
}